[submodule "pack/dist/start/csv"]
	path = pack/dist/start/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "pack/github/start/copilot.vim"]
	path = pack/github/start/copilot.vim
	url = git@github.com:github/copilot.vim.git
[submodule "pack/fugitive/start/fugitive.vim"]
	path = pack/fugitive/start/fugitive.vim
	url = git@github.com:tpope/vim-fugitive.git
